NODE_ENV=development
PORT=4000
MONGO_URI=mongodb+srv://<DB_USER>:<DB_PASSWORD>@<CLUSTER_HOST>/tagmypet
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:4200
CLOUDINARY_CLOUD_NAME=your-cloud
CLOUDINARY_API_KEY=your-key
CLOUDINARY_API_SECRET=your-secret
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
EMAIL_FROM=TagMyPet <no-reply@tagmypet.com>
