NODE_ENV=development
PORT=4000
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/tagmypet
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:4200
CLOUDINARY_CLOUD_NAME=your-cloud
CLOUDINARY_API_KEY=your-key
CLOUDINARY_API_SECRET=your-secret
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=henry.rivera@ucb.edu.bo
SMTP_PASS=Ucb.8684257
EMAIL_FROM=TagMyPet <henry.rivera@ucb.edu.bo>
