/* muestra_refugios.css */

/* Fuente y general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

/* Título */
h1 {
    text-align: center;
    color: #18353C; /* Color del título */
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Estilo para los datos de cada refugio */
.refugio {
    background-color: #eef2f3;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.refugio h3 {
    margin: 0 0 10px;
    color: #18353C;
}

.refugio p {
    margin: 5px 0;
    color: #333;
}

/* Botón para agregar un refugio */
#agregarRefugioBtn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #FF6B6B; /* Color rojo claro */
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#agregarRefugioBtn:hover {
    background-color: #FF0000; /* Rojo más intenso al pasar el ratón */
}
